<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ET-Make expense</title>
<link rel="stylesheet" href="makeexpense.css">
</head>
<body>
<div class="container">
<div>
<h1 th:text="'Your curent amount is ' + ${amount}"></h1>
<form th:action="@{/expensesubmit}" method="POST">
<label for="expense">Type of expense</label><br>
<input type="text" name="expense"><br>
  <div class="input">
  <label for="expenseamount">Expense Amount</label><br>
  <input type="number" name="expenseamount" min="10" max="1000000"><br>
  </div>
  <div class="input">
  <label for="date">Date of expense</label><br>
  <input type="date" name="date">
  <br>
  <input type="submit"><br><br>
  <a th:href="@{/home}">Home</a>
  </div>

</form>
<footer>&copy ET</footer>
</div>
</div>

</body>

</html>